
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <link rel="stylesheet" href="~/Asset/css/bootstrap.css" />
</head>
<body>
    <img src="~/Asset/images/logo.png" style="margin: 0 auto; display:block">
    <div id="border-out">
        <div style="margin: 0 10% 5% 10%">
            <br>
            <h6>WEB order service <a href="#">for distributos</a></h6>
            <h6>Forgot password</h6><br>
            <div class="text-size">We reset the password and we will contact you via temporary password.</div>
            <div class="text-size">Please anter the email registered in this system.</div><br>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="text-size" style="text-align:left">
                    <small>
                        * After issuing the temporary password,
                        please change the password after logging in with the temporary password.
                    </small>
                </div>
                <div class="text-size" style="text-align:left">
                    <small>* Please note that you can not send e-mail if the entered e-mail addess is incorrect.</small>
                </div><br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
